$bg-col: #473335;
$secondary-col: #548687;
$mid-col: #B0413E;
$light-col: #FCAA67;
$highlight-col: #FFFFC7;


$blu-bg-col: #00171F;
$blu-secondary-col: #003459;
$blu-mid-col: #007EA7;
$blu-light-col: #00A8E8;
$blu-highlight-col: #FFFFC7;