* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_red {
  background: linear-gradient(0deg, #FCAA67 0%, #B0413E 40%, #473335 90%);
}

.body_blue {
  background: linear-gradient(0deg, #FFFFC7 0%, #007EA7 40%, #00171F 90%);
}

@media screen and (min-width: 320px) {
  .Calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin: 1rem;
    margin-top: 6rem;
    padding: 1rem;
    height: 32rem;
    width: 22rem;
  }

  .Calculator_red {
    background: #212400;
    background: linear-gradient(0deg, #473335 0%, #B0413E 70%, #FFFFC7 100%);
    border: 4px solid #473335;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem #473335;
  }

  .Calculator_blue {
    background: #212400;
    background: linear-gradient(0deg, #00171F 0%, #007EA7 70%, #FFFFC7 100%);
    border: 4px solid #00171F;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem #00171F;
  }

  .Calculator__display {
    grid-row: 1;
    grid-column: 1/5;
    border-radius: 1rem;
    text-align: right;
    font-size: 4rem;
    height: 5rem;
    padding-right: 2rem;
  }

  .Calculator__display_red {
    border: 4px solid #473335;
    background-color: #473335;
    color: #FCAA67;
    box-shadow: 0.5rem 0.5rem #B0413E;
  }

  .Calculator__display_blue {
    border: 4px solid #00171F;
    background-color: #00171F;
    color: #FCAA67;
    box-shadow: 0.5rem 0.5rem #007EA7;
  }

  .Calculator__button_red {
    width: 4rem;
    height: 4rem;
    margin: 0.2rem;
    border: 4px solid #B0413E;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #B0413E;
    box-shadow: 0.3rem 0.2rem #473335;
    color: #FCAA67;
  }

  .Calculator__button_red:active {
    box-shadow: -0.15rem -0.15rem #473335;
    width: 3.9rem;
    height: 3.9rem;
    font-size: 1.9rem;
  }

  .Calculator__button_blue {
    width: 4rem;
    height: 4rem;
    margin: 0.2rem;
    border: 4px solid #007EA7;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #007EA7;
    box-shadow: 0.3rem 0.2rem #00171F;
    color: #FCAA67;
  }

  .Calculator__button_blue:active {
    box-shadow: -0.15rem -0.15rem #00171F;
    width: 3.9rem;
    height: 3.9rem;
    font-size: 1.9rem;
  }

  .current {
    background-color: #FCAA67;
    color: #B0413E;
  }
}